<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>base</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app1/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div >
            <ul class="my_navbar">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Registration</a></li>
                <li><a href="{% url 'add' %}">Add Product</a></li>
                <li><a href="{% url 'display' %}">Show Products</a></li>

            </ul>
</div>
{% block contents %}
write your code here..
{% endblock %}
<br><br>
<footer>
    <h5>All copy rights reserved @2021 |designed by Rahul</h5>
</footer>
</body>

</html>